* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 10;
  background-color: #ffe6f3;
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav img {
  display: block;
  margin-right: auto;
  max-width: 90%;
  margin-left: 15px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  background-color: #f588c0;
  color: #f1f1f1;
  font-size: 30px;
  transition-duration: 0.5s;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 18px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin-left: 350px;
  margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  font-size: 20px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}